* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eaeded;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.mr-7 {
  margin-right: 7px;
}

.mr-21 {
  margin-right: 21px;
}

.hyperlink {
  color: #0066c0;
  cursor: pointer;
  transition: 0.2s;
}

.hyperlink:hover {
  color: #c45500;
  text-decoration: underline;
}