header {
    display: flex;
    background-color: #131921;
    color: white;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 100;
    
    &> a{
        display: flex;
        align-items: center;
    }
    .header__logo {
        width: 100px;
        object-fit: contain;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        position: relative;
    }

    .header__search {
        display: flex;
        align-items: center;
        flex: 1;
        margin: 0 10px;

        .header__seachInput {
            flex: 1;
            padding: 11px 11px;
            outline: none;
            border: none;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            height: 39px;

            &:focus {
                outline: 2px solid #febd69;
            }
            &:focus ~ .header__searchIcon{
                outline: 2px solid #febd69;
            }
        }

        .header__searchIcon {
            background-color: #febd69;
            color: black;
            height: 39px;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            padding: 0 11px;
            box-sizing: content-box;
            cursor: pointer;

            &:hover{
                background-color: #ffac3e;
            }
        }
    }

    .header__navbar {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .header__option {
            height: 85%;
            border: 1px solid transparent;
            padding: 7px;
            border-radius: 2px;
            max-width: 145px;

            &:hover {
                border-color: white;
            }

            .header__optionLineOne {
                font-size: 14px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;

                &>span{
                    color: #ff956b;
                    font-weight: 600;
                }
            }

            .header__optionLineTwo {
                display: block;
                font-size: 14px;
                font-weight: 800;
            }
        }

        .header__cart {
            display: flex;
            height: 85%;
            border: 1px solid transparent;
            border-radius: 2px;

            &:hover {
                border-color: white;
            }

            .header__option {
                position: relative;

                &:hover {
                    border-color: transparent;
                }

                .header_cart_logo {
                    box-sizing: content-box;
                    font-size: 24px;
                }

                .header_cart_count {
                    color: #ff956b;
                    font-weight: 800;
                }

                &:first-child {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-right: 0;
                }

                &:last-child {
                    padding-left: 0;
                }
            }
        }
    }
}