.home {
    .home__flash {
        position: relative;
        height: 17vw;

        .home__flash__single {
            overflow: hidden;
            display: flex;
            justify-content: center;

            img {
                mask-image: linear-gradient(#eaeded, #eaeded, transparent);
                width: 111%;
            }
        }

        .swiper-button-prev,
        .swiper-button-next {
            padding: 4.5px 23px;
            height: 17vw;
            box-sizing: content-box;
            position: absolute;
            top: 24px;
            border-radius: 3px;
            border: 2px solid transparent;
            outline: 2px solid transparent;

            &:active,
            &:focus {
                border-color: #007185;
                outline-color: white;
            }
        }

        .swiper-button-prev {
            left: 2px;
        }

        .swiper-button-next {
            right: 2px;
        }
    }

    .home__products {
        position: relative;
        z-index: 1;
        padding: 17px;
        padding-top: 0;

        .home__products__row {
            display: flex;
            margin-top: 17px;
            margin-bottom: 17px;

            &:last-child {
                margin-bottom: 0;
            }

            .home__products__col {
                background-color: white;
                flex: 1;
                margin-right: 17px;
                padding: 21px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &:last-child {
                    margin-right: 0;
                }

                .home__products__heading {
                    font-size: 21px;
                    font-weight: 600;
                    display: block;
                }

                .home__products__name {
                    display: block;
                    font-size: 14px;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                }

                .home__products__price__cross {
                    margin-right: 17px;
                    font-size: 14px;
                }

                .home__products__price {
                    font-weight: 600;
                    font-size: 14px;
                    color: #b12704;
                }

                .home__products__img {
                    display: block;
                    margin: auto;
                    max-height: 200px;
                    padding: 33px;
                    box-sizing: content-box;
                }

                .home__products__cartBtn {
                    padding: 5px 53px;
                    margin: 0 auto;
                    margin-top: 23px;
                    background-color: #febd69;
                    width: fit-content;
                    font-size: 14px;
                    border: 1px solid #ffb048;
                    border-radius: 2px;
                    display: block;
                    margin-top: 11px;
                    cursor: pointer;
                    position: relative;

                    &:hover {
                        background-color: #ffac3e;
                        border-color: #fda129;
                    }

                    .home__products__cartBtn__itemoverlay{
                        position: absolute;
                        top: -10px;
                        right: -10px;
                        background: #dd820b;
                        line-height: 14px;
                        display: flex;
                        padding: 2px 7px;
                        border-radius: 100%;
                        box-shadow: 0px 1px 2px #0000007a;
                    }
                }
            }
        }
    }
}