.login__footer {
    width: 100%;
    min-height: 150px;
    margin-top: 29px;
    background-image: linear-gradient(90deg, white, #f9f9f9, #f9f9f9, white);
    position: relative;

    &::before {
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(transparent, #fff);
        position: absolute;
    }

    .login__footer__border {
        width: 100%;
        height: 3px;
        background: linear-gradient(90deg, white, #e4e4e4, #e4e4e4, white);
        position: relative;
    }

    .login__footer__links {
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        margin-top: 21px;
        margin-bottom: 13px;
        position: relative;
        z-index: 1;

        .login__hyperlink {
            color: #0066c0;
            cursor: pointer;
            transition: .2s;
            font-size: 12px;
            margin-right: 27px;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: #c45500;
                text-decoration: underline;
            }
        }
    }

    .login__footer__copyright {
        max-width: 350px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 12px;
        text-align: center;
        position: relative;
        z-index: 1;
    }
}