.payment__box {
    background-color: #fff;
    min-height: calc(100vh - 60px);
}

.payment {
    padding: 0 11px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 83px;

    .payment__container {
        .payment__heading {
            font-size: 29px;
            font-weight: 400;
        }

        .payment__method__section {
            display: flex;
            justify-content: space-between;
            margin-top: 17px;

            .payment__method__section__left {
                width: calc(75% - 16px);
                padding: 19px;
                border-radius: 3px;
                border: 1px solid #dddddd;
                height: fit-content;

                .payment__card__container {
                    padding: 7px 13px;
                    border-radius: 3px;
                    margin-bottom: 17px;

                    &:last-child{
                        margin-bottom: 0;
                    }

                    &.active {
                        background-color: #fcf5ee;
                        border: 1px solid #fbd8b4;
                    }

                    .payment__guidelines {
                        display: flex;
                        margin-top: 11px;
                        margin-bottom: 16px;
                        font-size: 14px;
                    }
                }

                h3 {
                    padding-bottom: 7px;
                    position: relative;
                    border-bottom: 1px solid #ededed;
                    margin-bottom: 9px;
                }

                .payment__debit__card {
                    display: flex;
                    align-items: flex-start;

                    input[type=radio] {
                        margin-right: 17px;
                        position: relative;
                        top: 4px;
                    }

                    label {
                        flex: auto;
                    }

                    .payment__debit__cardImg {
                        display: flex;

                        span {
                            background-image: url('/assets/debitcard.png');
                            width: 45px;
                            height: 29px;
                            display: block;
                            margin-right: 8px;
                        }
                    }
                }

                .payment__card__details__wrapper{
                    height: 0px;
                    transition: all 0.5s ease;
                    overflow: hidden;
                }
                .payment__card__details {
                    padding-left: 29px;
                    padding-top: 7px;
                    transition: 0.5s;
                    overflow: hidden;
                    padding-top: 27px;

                    .payment__card__details__col {
                        display: flex;
                        max-width: 400px;
                        margin-bottom: 17px;
                        align-items: center;

                        &>*:first-child {
                            width: 120px;
                            font-weight: 600;
                        }

                        &>*:last-child {
                            flex: auto;
                            font-weight: 600;
                        }

                        &>input {
                            max-width: 180px;
                            padding: 7px;
                            border-radius: 3px;
                            outline: none;
                            border: 1px solid #a6a6a6;

                            &:focus {
                                border-color: #e77600;
                                box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
                            }
                        }

                        .payment-card-date-col {
                            display: flex;
                            max-width: 180px;

                            select {
                                padding: 7px;
                                border-radius: 7px;
                                outline: none;
                                border: 1px solid #c8cccc;
                                background: #f0f2f2;
                                box-shadow: rgb(15 17 17 / 15%) 0px 2px 5px;

                                &:first-child{
                                    margin-right: 7px;
                                }

                                &:hover{
                                    background: #e7e7e7;
                                }
                            }
                        }

                        #payment-card-default {
                            margin-right: 7px;

                            &~label{
                                font-weight: 400;
                            }
                        }
                    }
                }

            }

            .payment__method__section__right {
                width: calc(25% - 16px);
                background-color: #f7f7f7;
                padding: 19px;
                border-radius: 3px;
                border: 1px solid #dddddd;
                height: fit-content;

                p {
                    font-size: 15px;
                    text-align: center;
                }
            }
        }
    }
}