.yourorders{
    .yourorders__container{
        max-width: 924px;
        margin-left: auto;
        margin-right: auto;
    }

    .yourorders__heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 9px 0;
        h2{
            font-size: 27px;
            font-weight: 400;
        }
        .yourorders__search{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: calc(50% - 13px);
            .yourorders__search__wrapper{
                display: flex;
                align-items: center;
                position: relative;
                margin-right: 11px;
                flex: auto;
                svg{
                    position: absolute;
                    font-size: 18px;
                    top: 0;
                    bottom: 0;
                    left: 9px;
                    margin: auto;
                    z-index: -1;
                }
                input{
                    padding: 7px;
                    padding-left: 33px;
                    background-color: transparent;
                    border-radius: 3px;
                    outline: none;
                    border: 1px solid #a6a6a6;
                    transition: 0.2s;
                    box-shadow: inset 0px 1px 3px #e6e7e7;
                    width: 100%;

                    &:focus{
                        border-color: #e77600;
                        box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
                    }
                }
            }
            button{
                font-size: 13px;
                padding: 7px 13px;
                background-color: #303333;
                border: 1px solid #0f1111;
                color: #fff;
                border-radius: 100px;
                cursor: pointer;

                &:hover{
                    background-color: #0f1111;
                }
            }
        }
    }
}